<section class="about-index">

  <header class="page-header">
    <h1>About Us</h1>
  </header>

  <section>
    <h3>Welcome to Jungle Book!</h3>
    <p>
      We're so glad you found your way here. We hope you find everything you're looking for!
    </p>
    <img src="/public/jungle-photo.jpg" class="img-fluid" />
  </section>

</section>
